/* .relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.bg-full {
  background-size: 100% 100%;
}

.absolute-x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
} */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
}
